body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 14px; }

.frame {
  background-color: #fff; }

.wrapper {
  background-color: #0a243e; }

.row {
  max-width: 1080px;
  background-color: #fff; }
  .row .row {
    margin-left: 0;
    margin-right: 0; }

.topPhone {
  color: #fff;
  font-size: 1.5em; }

.headerStripe {
  padding-bottom: .2em; }
  .headerStripe h2 {
    margin-bottom: 0;
    padding-bottom: 0; }

ul li {
  margin-left: 3em;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: .2em; }

h1, h2, h3, h4, h5, h6 {
  color: #353535;
  font-weight: 400;
  line-height: 1.5em;
  font-family: "Oswald", sans-serif; }

h1 {
  color: #0a243e;
  font-size: 2em; }

h3 {
  color: #295675;
  font-size: 1.5em; }

.button {
  background-color: #FD9F00;
  margin-top: 1em; }

.disclaimer {
  font-size: .5em;
  margin-top: 2em;
  list-style: none; }

.asterisk {
  font-size: .5em;
  vertical-align: super; }

.form-top2 {
  margin-top: 0;
  font-size: 2em; }

h2 {
  color: #fff;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif; }

h3 {
  color: #0a243e; }

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #295675; }

h5 {
  color: #fff;
  font-size: 2em; }

h6 {
  color: #fff;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif; }

h7 {
  color: #fff;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0; }

.headerStripe {
  background-color: #0a243e; }

#form-top {
  padding-bottom: 0em;
  background-color: #295675;
  padding-top: .3em; }
  #form-top h2 {
    padding-bottom: .2em;
    margin-bottom: 0; }

#form-top2 {
  padding-bottom: .3em;
  background-color: #0a243e;
  padding-top: .3em; }
  #form-top2 h5 {
    padding-bottom: .2em;
    margin-bottom: 0; }

.noPad {
  padding: 0; }

#signupForm {
  background-image: url("/img/pattern-1.png");
  border: 1px solid #ccc;
  background-repeat: repeat;
  padding: 1.5em; }

label {
  font-size: 1em;
  padding-bottom: .2em; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  margin-top: .5em; }

iframe {
  margin-bottom: 2em; }

.yes-bullet {
  font-weight: normal;
  font-size: .8em;
  margin: 0;
  padding: 0; }
