$orange: #FD9F00;
$lightBlue: #295675;
$darkBlue: #0a243e;
$fontHead: 'Oswald', sans-serif;
$fontBody: 'Source Sans Pro', sans-serif;

body{
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
}

.frame{
	background-color: #fff;
}

.wrapper{
	background-color: $darkBlue;
}

.row{
	max-width: 1080px;
	background-color: #fff;
	.row{
		margin-left: 0;
		margin-right: 0;
	}
}

.topPhone{
	color: #fff;
	font-size: 1.5em;
}

.headerStripe{
	h2{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	padding-bottom:.2em;
}

ul{
	li{
		margin-left: 3em;
		font-size: 1.2em;
		line-height: 1.2em;
		padding-bottom: .2em;
	}
}

h1, h2, h3, h4, h5, h6{
	color:#353535;
	font-weight:400;
	line-height:1.5em; 
	font-family: $fontHead;
}

h1{
	color: $darkBlue;
	font-size: 2em;
}

h3{
	color: $lightBlue;
	font-size: 1.5em;
}

.button{
	background-color: $orange;
	margin-top: 1em;
}

.disclaimer{
	font-size: .5em;
	margin-top: 2em;
	list-style: none;
}

.asterisk{
	font-size: .5em;
	vertical-align: super;
}

.form-top2{
	margin-top: 0; 
	font-size: 2em;
}

h2{
	color:#fff;
	font-weight:400;
	line-height:1.5em; 
	font-family: 'Oswald', sans-serif;
}

h3{
	color: $darkBlue;
}

h4{
	font-family: $fontBody;
	font-size: 2em;
	font-weight: 600;
	color: $lightBlue;
}

h5{
	color: #fff;
	font-size: 2em;
}

h6{
	color: #fff;
	font-size: 1.5em;
	font-family: $fontBody
}

h7{
	color: #fff;
	font-size: 1.5em;
	font-family: $fontBody;
	padding-bottom: 0;
	margin-bottom: 0;
}

.headerStripe{
	background-color: $darkBlue;
}

#form-top{
	padding-bottom: 0em;
	background-color: $lightBlue;
	padding-top: .3em;
	h2{
		padding-bottom: .2em;
		margin-bottom: 0;
	}
}

#form-top2{
	padding-bottom: .3em;
	background-color: $darkBlue;
	padding-top: .3em;
	h5{
		padding-bottom: .2em;
		margin-bottom: 0;
	}
}

.noPad{
	padding: 0;
}

#signupForm{
	background-image: url("/img/pattern-1.png");
	border: 1px solid #ccc;
	background-repeat: repeat;
	padding: 1.5em;
}

label{
	font-size: 1em;
	padding-bottom: .2em;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	margin-top: .5em;
	}
	
iframe	{
	margin-bottom: 2em;
}

.yes-bullet{
	font-weight: normal;
	font-size: .8em;
	margin: 0;
	padding: 0;
}
